[tools]
atlas-community = "1.0.0"
github-cli = "latest"
go = "1.25.1"
golangci-lint = "2.8.0"
gotestsum = "1.13.0"
helm = "3.19.4"
jq = "latest"
lefthook = "latest"
node = "20.19.0"
protoc = "33.2"
protoc-gen-go = "1.36.11"
protoc-gen-go-grpc = "1.6.0"
protoc-gen-validate = "1.3.0"
rust = { version = "latest", profile = "minimal" }

[env]
MISE_NODE_COREPACK = true

[tasks]
build-to-minikube = { dir = "{{config_root}}", run = 'scripts/build-to-minikube.sh' }
rds = { dir = "{{config_root}}", run = 'scripts/rds.sh' }
run-minikube = { dir = "{{config_root}}", run = 'scripts/local-test.sh' }
spark-cli-local = { dir = "{{config_root}}/sdks/js", run = 'yarn install && yarn build:packages && cd examples/spark-cli && yarn build && yarn run cli:local' }
spark-cli-minikube = { dir = "{{config_root}}/sdks/js", run = 'yarn install && yarn build:packages && cd examples/spark-cli && yarn build && yarn run cli:minikube' }
spark-cli-regtest = { dir = "{{config_root}}/sdks/js", run = 'yarn install && yarn build:packages && cd examples/spark-cli && yarn build && yarn run cli' }
spark-cli-mainnet = { dir = "{{config_root}}/sdks/js", run = 'yarn install && yarn build:packages && cd examples/spark-cli && yarn build && yarn run cli:mainnet' }
spark-cli-dev = { dir = "{{config_root}}/sdks/js", run = 'yarn install && yarn build:packages && cd examples/spark-cli && yarn build && yarn run cli:dev' }
spark-cli-dev-mainnet = { dir = "{{config_root}}/sdks/js", run = 'yarn install && yarn build:packages && cd examples/spark-cli && yarn build && yarn run cli:dev:mainnet' }
spark-cli-loadtest = { dir = "{{config_root}}/sdks/js", run = 'yarn install && yarn build:packages && cd examples/spark-cli && yarn build && yarn run cli:loadtest' }
test-go = { dir = "{{config_root}}/spark", run = 'mise test-unit' }
test-grpc = { dir = "{{config_root}}/spark", run = 'mise test-grpc' }
test-grpc-minikube = { dir = "{{config_root}}/spark", run = 'mise test-grpc-minikube' }
test-js = { dir = "{{config_root}}/sdks/js", run = 'yarn install && yarn test' }
test-js-integration = { dir = "{{config_root}}/sdks/js", run = 'yarn install && yarn test:integration' }
test-js-integration-minikube = { dir = "{{config_root}}/sdks/js", run = 'yarn install && MINIKUBE_IP=$(minikube ip) yarn test:integration' }
test-js-integration-ssp = { dir = "{{config_root}}/sdks/js", run = 'yarn install && yarn test:integration:ssp' }
test-js-integration-ssp-minikube = { dir = "{{config_root}}/sdks/js", run = 'MINIKUBE_IP=$(minikube ip) yarn install && yarn test:integration:ssp' }

[tasks.money-dev]
description = "Send regtest BTC on dev to <address> [amount (default=0.0001)]"
usage = '''
arg "<addr>" "the l1 address to send to"
arg "<amount>" "amount to send in btc" default="0.0001"
'''
run = """kubectl --context dev -n bitcoin exec -it regtest-miner-bitcoind-0 -- \
  bitcoin-cli \
    -conf=/etc/bitcoin/bitcoin.conf \
    -datadir=/data \
    sendtoaddress {{arg(name="addr")}} {{arg(name="amount", default="0.0001")}}
    """

[tasks.bcli-mk]
description = "Run arbitrary bitcoin-cli commands against regtest in minikube"
run = """
kubectl --context minikube -n bitcoin exec -it regtest-bitcoind-0 -c bitcoind -- \
  bitcoin-cli \
    -conf=/etc/bitcoin/bitcoin.conf \
    -datadir=/data \
    "$@"
"""

[tasks.money-mk]
description = "Send regtest BTC in minikube to <address> [amount (default=0.0001)]"
usage = '''
arg "<addr>" "the l1 address to send to"
arg "<amount>" "amount to send in btc" default="0.0001"
'''
run = """kubectl --context minikube -n bitcoin exec regtest-bitcoind-0 -- \
  bitcoin-cli \
    -conf=/etc/bitcoin/bitcoin.conf \
    -datadir=/data \
    sendtoaddress {{arg(name="addr")}} {{arg(name="amount", default="0.0001")}}
    """

[tasks.mine-mk]
description = "Mine <blocks> to <address>"
usage = '''
arg "<blocks>" "amount of blocks to mine" default="5"
arg "<addr>" "the l1 address to generate to"
'''
run = """kubectl --context minikube -n bitcoin exec regtest-bitcoind-0 -- \
  bitcoin-cli \
    -conf=/etc/bitcoin/bitcoin.conf \
    -datadir=/data \
    generatetoaddress {{arg(name="blocks", default="5")}} {{arg(name="addr")}}
    """

[tasks.get-address-mk]
description = "gets a new l1 address"
run = """kubectl --context minikube -n bitcoin exec regtest-bitcoind-0 -- \
  bitcoin-cli \
    -conf=/etc/bitcoin/bitcoin.conf \
    -datadir=/data \
    getnewaddress
    """

[tasks.broadcast-tx-mk]
description = "Broadcast a <txn>"
usage = '''
arg "<hex>" "raw transaction hex"
'''
run = """kubectl --context minikube -n bitcoin exec regtest-bitcoind-0 -- \
  bitcoin-cli \
    -conf=/etc/bitcoin/bitcoin.conf \
    -datadir=/data \
    sendrawtransaction {{arg(name="hex")}}
    """

[tasks.testmempoolaccept-mk]
description = "Test if a txn would be accepted <txn>"
usage = '''
arg "<txn>" "Transaction hex"
'''
run = """kubectl --context minikube -n bitcoin exec regtest-bitcoind-0 -- \
  bitcoin-cli \
    -conf=/etc/bitcoin/bitcoin.conf \
    -datadir=/data \
    testmempoolaccept {{arg(name="txn")}}
    """

[tasks.broadcast-pkg-mk]
description = "Broadcast a package (array) of raw tx hex to regtest in minikube"
usage = '''
arg "<hexes_json>" "JSON array of raw tx hex strings, in dependency order (e.g. [\"hex1\",\"hex2\"])"
'''
run = """kubectl --context minikube -n bitcoin exec regtest-bitcoind-0 -- \
  bitcoin-cli \
    -conf=/etc/bitcoin/bitcoin.conf \
    -datadir=/data \
    submitpackage {{arg(name="hexes_json")}}
    """

[tasks.get-raw-transaction]
description = "Return the raw transaction data."
usage = '''
arg "<txid>" "transaction id (hex)"
'''
run = """kubectl --context minikube -n bitcoin exec regtest-bitcoind-0 -- \
  bitcoin-cli \
    -conf=/etc/bitcoin/bitcoin.conf \
    -datadir=/data \
    getrawtransaction {{arg(name="txid")}} 1
    """

[tasks.check-tx-mk]
description = "Check if a tx is in mempool or on-chain (regtest/minikube)"
usage = '''
arg "<txid>" "transaction id (hex)"
'''
run = """kubectl --context minikube -n bitcoin exec regtest-bitcoind-0 -- sh -lc '\
CLI="bitcoin-cli -conf=/etc/bitcoin/bitcoin.conf -datadir=/data"; \
TX="{{arg(name="txid")}}"; \
if $CLI getmempoolentry "$TX" >/dev/null 2>&1; then \
  echo "status=IN_MEMPOOL"; \
  $CLI getmempoolentry "$TX"; \
elif $CLI getrawtransaction "$TX" 1 >/dev/null 2>&1; then \
  echo "status=SEEN_ON_CHAIN_OR_MEMPOOL"; \
  $CLI getrawtransaction "$TX" 1; \
else \
  echo "status=UNKNOWN (not in mempool; not found via getrawtransaction)"; \
  exit 2; \
fi'"""

[tasks.mempool-mk]
description = "List all txids in mempool (pass 'true' for verbose details)"
run = """kubectl --context minikube -n bitcoin exec regtest-bitcoind-0 -- \
  bitcoin-cli \
    -conf=/etc/bitcoin/bitcoin.conf \
    -datadir=/data \
    getrawmempool "$@"
"""

[tasks.mempool-info-mk]
description = "Show mempool summary stats (count, size, fees)"
run = """kubectl --context minikube -n bitcoin exec regtest-bitcoind-0 -- \
  bitcoin-cli \
    -conf=/etc/bitcoin/bitcoin.conf \
    -datadir=/data \
    getmempoolinfo
"""

[tasks.gen-ent]
description = "Generate ent code for Spark schemas"
dir = "{{config_root}}/spark"
run = """
echo "Generating ent schemas..."
go generate ./so/ent/...
echo ""
echo "!!!!"
echo "Ents generated. Remember to add migration changes with atlas! See README.md for more info."
echo "!!!!"
"""

[tasks.gen-ssp]
description = "Generate SSP API code"
dir = "{{config_root}}/spark"
run = "go generate ./testing/wallet/ssp_api/..."

[tasks.release]
description = "Cut a prerelease (canary) from the RC branch (use flags to promote or skip canary)"
dir = "{{config_root}}"
run = "scripts/release.sh"

[tasks.gen-protos]
description = "Generate Go code from proto files (via Make)"
dir = "{{config_root}}"
run = "make all"

[tasks.clean-protos]
description = "Clean generated proto files"
dir = "{{config_root}}"
run = "make clean"

[settings]
activate_aggressive = true
disable_backends = ["asdf"]
experimental = true
idiomatic_version_file_enable_tools = ["go", "rust"]
lockfile = true
